_build
*.sublime-project
*.sublime-workspace
*.beam
.eunit
debug-*
ebin/*
bin/expm
*.dump
.rebar
.eunit
rebar/*
.rebar/*
rebar3.crashdump
logs/*
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
