{erl_opts, [debug_info, {no_auto_import, [{abs,1}]}]}.

{deps, [
   {rebar3_lfe, {git, "https://github.com/lfe-rebar3/rebar3_lfe.git", {branch, "release/0.3.x"}}}
  ]}.

{plugins, [
   {rebar3_lfe, {git, "https://github.com/lfe-rebar3/rebar3_lfe.git", {branch, "release/0.3.x"}}}
  ]}.

{provider_hooks, [
    {pre, [{compile, {lfe, compile}}]}
  ]}.

{profiles, [
  {dev, [
    ]},
   {test, [
     {deps, [
       {ltest, {git, "https://github.com/lfex/ltest.git", {branch, "release/0.11.x"}}}]},
     {eunit_opts, [verbose]},
     {erl_opts, [{src_dirs, ["src", "test"]}]}
    ]},
  {docs, [
    {plugins, [
      {lodox, {git, "https://github.com/lfe-rebar3/lodox.git", {tag, "0.12.10"}}}
      ]},
    {lodox,
      [{apps,
        [{complex,
          [{'source-uri',
            "https://github.com/lfex/complex/blob/{version}/{filepath}#L{line}"},
           {'output-path', "docs/master/current/api"}]}]}
      ]}
    ]}
  ]}.
