{erl_opts, [debug_info, {no_auto_import, [{abs,1}]}]}.

{deps, [
   {lfe, {git, "https://github.com/lfe/lfe.git", {tag, "2.0"}}}
  ]}.

{plugins, [
   {rebar3_lfe, {git, "https://github.com/lfe-rebar3/rebar3_lfe.git", {branch, "release/0.3.x"}}}
  ]}.

{provider_hooks, [
    {pre, [{compile, {lfe, compile}}]}
  ]}.

{profiles, [
  {test, [
    {deps, [
      {ltest, {git, "https://github.com/lfex/ltest.git", {branch, "release/0.11.x"}}}]},
    {eunit_opts, [verbose]},
    {src_dirs, ["src", "test"]}
  ]}
]}.
